/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}


/* APP */
.App {
  margin: auto;
  padding: 20px;
  width: 75vw;
  min-height: 100vh;
  max-height: 100vh;
  background-color: white;
}

button {
  display: block;
  margin: auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}


/* FORM */
#Form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

form {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 85vh;
  width: 50vw;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 25px black;
  border-radius: 10px;
  overflow-y: scroll;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#Form-book-or-magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "book magazine";
  padding: 20px 0;
}

#Form-book-book {
  grid-area: book;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

#Form-book-magazine {
  grid-area: magazine;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Form-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#Form-buttons button {
  margin: 0 10px;
  font-size: 16px;
}

#Form-single-cancel-button {
  font-size: 16px;
}


/* BOOK & MAGAZINE */
#Form-book, #Form-magazine {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}

#Form-book label, #Form-magazine label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Form-book label input, #Form-magazine label input {
  width: 50%;
  font-size: 16px;
  padding: 10px;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-radius: 10px;
}

#Form-book label textarea, #Form-magazine label textarea {
  width: 50%;
  height: 80px;
  font-size: 16px;
  padding: 10px;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-radius: 10px;
  resize: none;
}

#Form-book p, #Form-magazine p {
  margin: 0 0 20px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

#Form-buttons-feedback {
  margin: 0;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

.invalid {
  background-color: yellow;
}


/* ITEM LIST */
.ItemList {
  background-color: white;
  max-height: calc(100vh - 20px - 60px - 76px); /* vh - app padding - button height - header height */
  overflow-y: scroll;
  /* box-shadow: 0 0 10px inset gray; */
}

#ItemList-header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr;
  grid-template-areas: "col1 col2 col3 col4 col5";
  padding: 0 20px;
  box-shadow: 0 10px 10px -10px gray;
  z-index: 1;
}

#ItemList-header p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}

p#header-col-1 {
  grid-area: col1;
  padding-right: 20px;
  position: relative;
}

p#header-col-2 {
  grid-area: col2;
  padding-right: 20px;
  position: relative;
}

#header-col-3 {
  grid-area: col3;
  position: relative;
}

#header-col-4 {
  grid-area: col4;
  position: relative;
}

#header-col-5 {
  grid-area: col5;
  position: relative;
}

.fa-caret-down, .fa-caret-up {
  position: absolute;
  bottom: 6px;
}


/* ITEM */
.Item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.Item:hover {
  background-color: lightgray;
}

.Item p {
  height: 1.2em;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ITEM BOOK */
.Item-book {
  grid-template-areas: "title author description price crud";
}

.Item-title {
  grid-area: title;
  padding-right: 20px;
}

.Item-author {
  grid-area: author;
  padding-right: 20px;
}

/* ITEM MAGAZINE */
.Item-magazine {
  grid-template-areas: "name volumeAndSpan description price crud";
}

.Item-name {
  grid-area: name;
  padding-right: 20px;
}

.Item-volume-span {
  grid-area: volumeAndSpan;
  padding-right: 20px;
}

/* BOTH */
.Item-description {
  grid-area: description;
  padding-right: 20px;
}

.Item-price {
  grid-area: price;
  padding-left: 40%;
}

.Item-crud {
  grid-area: crud;
  text-align: center;
}

.Item-crud i {
  padding: 0 10px;
  cursor: pointer;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1355px) {
  #ItemList-header {
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
    grid-template-areas: "col1 col2 col4 col5";
  }
  .Item {
    grid-template-columns: 2fr 1fr 1fr 0.5fr;
  }
  .Item-book {
    grid-template-areas: "title author price crud";
  }
  .Item-magazine {
  grid-template-areas: "name volumeAndSpan price crud";
  }
  p#header-col-3, .Item-description {
    display: none;
  }
  #Form-book, #Form-magazine {
    padding: 0 15%;
  }
}

@media only screen and (max-width: 970px) {
  #ItemList-header {
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-template-areas: "col1 col2 col5";
  }
  .Item {
    grid-template-columns: 2fr 1fr 0.5fr;
  }
  .Item-book {
    grid-template-areas: "title author crud";
  }
  .Item-magazine {
  grid-template-areas: "name volumeAndSpan crud";
  }
  p#header-col-3, .Item-description {
    display: none;
  }
  p#header-col-4, .Item-price {
    display: none;
  }
  #Form-book, #Form-magazine {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 780px) {
  #ItemList-header {
    grid-template-columns: 2fr 0.5fr;
    grid-template-areas: "col1 col5";
  }
  .Item {
    grid-template-columns: 2fr 0.5fr;
  }
  .Item-book {
    grid-template-areas: "title crud";
  }
  .Item-magazine {
  grid-template-areas: "name crud";
  }
  p#header-col-2, .Item-author, .Item-volume-span {
    display: none;
  }
  p#header-col-3, .Item-description {
    display: none;
  }
  p#header-col-4, .Item-price {
    display: none;
  }
  form {
    width: 75vw;
  }
  #Form-book, #Form-magazine {
    padding: 0 15%;
  }
}

@media only screen and (max-width: 590px) {
  .App {
    overflow-x: scroll;
  }
  #App-button {
    display: none;
  }
  #ItemList-header {
    grid-template-columns: 1fr;
    grid-template-areas: "col1";
  }
  .ItemList {
    max-height: calc(100vh - 20px - 56px); /* vh - app padding - header height */
  }
  .Item {
    grid-template-columns: 1fr;
  }
  .Item-book {
    grid-template-areas: "title";
  }
  .Item-magazine {
  grid-template-areas: "name";
  }
  p#header-col-1 {
    padding: 0 0 20px;
  }
  p#header-col-2, .Item-author, .Item-volume-span {
    display: none;
  }
  p#header-col-3, .Item-description {
    display: none;
  }
  p#header-col-4, .Item-price {
    display: none;
  }
  p#header-col-5, .Item-crud {
    display: none;
  }
}