/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}


/* APP */
.App {
  margin: auto;
  padding: 20px;
  width: 50vw;
  min-height: 100vh;
  background-color: white;
}

button {
  display: block;
  margin: auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}


/* FORM */
#Form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}

form {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 33vw;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 25px gray;
  border-radius: 10px;

}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#Form-book-or-magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "book magazine";
  padding: 20px 0;
}

#Form-book-book {
  grid-area: book;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

#Form-book-magazine {
  grid-area: magazine;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* input, textarea {
  transition: all 0.5s ease;
}

.invalidField {
  background-color: pink;
} */

#Form-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 15px;
}

#Form-buttons button {
  margin: 0 10px;
  font-size: 16px;
}

#Form-single-cancel-button {
  font-size: 16px;
}


/* BOOK */
#Form-book, #Form-magazine {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

#Form-book label, #Form-magazine label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
}


#Form-book p {
  margin: 0 0 5px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

.invalid {
  background-color: yellow;
}

/* MAGAZINE */
#Form-magazine {

}


/* ITEM LIST */
.ItemList {
  margin: 20px 0 0;
  background-color: white;
}


/* ITEM */
.Item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Item:hover {
  box-shadow: 0 0 10px black;
}

.Item p {
  margin: 0;
}

/* ITEM BOOK */
.Item-book {
  grid-template-areas: "title author description price";
}

.Item-title {
  grid-area: title;
}

.Item-author {
  grid-area: author;
}

/* ITEM MAGAZINE */
.Item-magazine {
  grid-template-areas: "name volumeAndSpan description price";
}

.Item-name {
  grid-area: name;
}

.Item-volume-span {
  grid-area: volumeAndSpan;
}

/* BOTH */
.Item-description {
  grid-area: description;
}

.Item-price {
  grid-area: price;
  padding-left: 40%;
}





