/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}


/* APP */
.App {
  margin: auto;
  padding: 20px;
  width: 50vw;
  min-height: 100vh;
  background-color: white;
}

#App-button {
  display: block;
  margin: auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

#App-button:hover {
  color: white;
  background-color: black;
}


/* FORM */
#Form {

}

fieldset {
  border: none;
}

#Form-book-or-magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "book magazine";
}

#Form-book-book {
  grid-area: book;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Form-book-magazine {
  grid-area: magazine;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


input, textarea {
  transition: all 0.5s ease;
}

.invalidField {
  background-color: pink;
}

#Form-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#Form-single-cancel-button {
  display: block;
  margin: auto;
}


/* BOOK */
#Form-book {

}

#Form-book-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title author";
}

#Form-book-title {
  grid-area: title;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Form-book-author {
  grid-area: author;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Form-book-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "description price";
}

#Form-book-description {
  grid-area: description;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Form-book-price {
  grid-area: price;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* MAGAZINE */
#Form-magazine {

}

#Form-magazine-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "name volume issue";
}

#Form-magazine-name {
  grid-area: name;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Form-magazine-volume {
  grid-area: volume;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Form-magazine-issue {
  grid-area: issue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Form-magazine-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "description price";
}

#Form-magazine-description {
  grid-area: description;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Form-magazine-price {
  grid-area: price;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


/* ITEM LIST */
.ItemList {
  margin: 20px 0 0;
  background-color: white;
}


/* ITEM */
.Item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.Item:hover {
  box-shadow: 0 0 10px black;
}

.Item p {
  margin: 0;
}

/* ITEM BOOK */
.Item-book {
  grid-template-areas: "title author description price";
}

.Item-title {
  grid-area: title;
}

.Item-author {
  grid-area: author;
}

/* ITEM MAGAZINE */
.Item-magazine {
  grid-template-areas: "name volumeAndSpan description price";
}

.Item-name {
  grid-area: name;
}

.Item-volume-span {
  grid-area: volumeAndSpan;
}

/* BOTH */
.Item-description {
  grid-area: description;
}

.Item-price {
  grid-area: price;
  padding-left: 40%;
}





