/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: bisque;
}


/* APP */
.App {
  margin: auto;
  padding: 20px;
  width: 75vw;
  min-height: 100vh;
  background-color: white;
}

button {
  display: block;
  margin: auto;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  height: 60px;
  background-color: white;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}


/* FORM */
#Form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

form {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 33vw;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 25px black;
  border-radius: 10px;

}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

#Form-book-or-magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "book magazine";
  padding: 20px 0;
}

#Form-book-book {
  grid-area: book;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

#Form-book-magazine {
  grid-area: magazine;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#Form-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#Form-buttons button {
  margin: 0 10px;
  font-size: 16px;
}

#Form-single-cancel-button {
  font-size: 16px;
}


/* BOOK & MAGAZINE */
#Form-book, #Form-magazine {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}

#Form-book label, #Form-magazine label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Form-book label input, #Form-magazine label input {
  width: 50%;
  font-size: 16px;
  padding: 10px;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-radius: 10px;
}

#Form-book label textarea, #Form-magazine label textarea {
  width: 50%;
  font-size: 16px;
  padding: 10px;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-radius: 10px;
  resize: none;
}

#Form-book p, #Form-magazine p {
  margin: 0 0 20px;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

#Form-buttons-feedback {
  margin: 0;
  padding: 5px 0 5px 10px;
  border-radius: 10px;
}

.invalid {
  background-color: yellow;
}


/* ITEM LIST */
.ItemList {
  margin: 20px 0 0;
  background-color: white;
}

#ItemList-header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr;
  grid-template-areas: "col1 col2 col3 col4 col5";
  padding: 0 20px;
}

#ItemList-header p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  font-weight: 900;
  text-align: center;
}

#header-col-1 {
  grid-area: col1;
}

#header-col-2 {
  grid-area: col2;
}

#header-col-3 {
  grid-area: col3;
}

#header-col-4 {
  grid-area: col4;
}

#header-col-5 {
  grid-area: col5;
}



/* ITEM */
.Item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 0.5fr;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.Item:hover {
  box-shadow: 0 0 10px gray;
}

.Item p {
  height: 1.2em;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ITEM BOOK */
.Item-book {
  grid-template-areas: "title author description price crud";
}

.Item-title {
  grid-area: title;
  padding-right: 20px;
}

.Item-author {
  grid-area: author;
  padding-right: 20px;
}

/* ITEM MAGAZINE */
.Item-magazine {
  grid-template-areas: "name volumeAndSpan description price crud";
}

.Item-name {
  grid-area: name;
  padding-right: 20px;
}

.Item-volume-span {
  grid-area: volumeAndSpan;
  padding-right: 20px;
}

/* BOTH */
.Item-description {
  grid-area: description;
  padding-right: 20px;
}

.Item-price {
  grid-area: price;
  padding-left: 40%;
}

.Item-crud {
  grid-area: crud;
  text-align: center;
}

.Item-crud i {
  padding: 0 10px;
  cursor: pointer;
}





